<main class="main">
  <div class="inner">
    <div class="form__wrapper">
      <%= render "form", prototype: @prototype %>
      <%# ログインしているときは以下を表示する %>

    </div>
  </div>
</main>
<%# // ログインしているときは上記を表示する %>

<%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>